* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #222;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #0b0f2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: white;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(120deg, #040824, #07124f);
  display: flex;
  align-items: center;
  padding-left: 10%;
  color: white;
}

.hero-content {
  max-width: 900px;
}

.hero h1 {
  font-size: 50px;
  font-weight: 700;
}

.hero h1 span {
  color: #4da3ff;
}

.hero h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  line-height: 1.6;
}

.hero p {
  font-size: 15px;
  max-width: 750px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: white;
  color: #0b0f2b;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  border: none;
}

.socials {
  margin-top: 30px;
}

.socials i {
  font-size: 22px;
  margin-right: 15px;
}

/* SECTIONS */
.section {
  padding: 90px 12%;
}

.section h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.center-title {
  text-align: center;
}

/* EXPERIENCE */
.experience-card {
  background: #f4f6fb;
  padding: 35px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
}

.experience-card h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.experience-card span {
  display: block;
  font-size: 14px;
  color: #555;
}

.experience-card ul {
  margin-top: 20px;
  padding-left: 20px;
}

.experience-card li {
  margin-bottom: 10px;
  font-size: 14px;
}

/* PROJECTS */
.btn-outline {
  padding: 10px 25px;
  border: 2px solid #0b0f2b;
  text-decoration: none;
  color: #0b0f2b;
  border-radius: 5px;
}

/* CONTACT */
.contact-wrapper {
  display: flex;
  justify-content: center;
}

form {
  width: 500px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* FOOTER */
footer {
  background: linear-gradient(120deg, #040824, #07124f);
  color: white;
  padding: 40px 12%;
  display: flex;
  justify-content: space-between;
}
/* Reveal animation */
.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

/* Canvas background */
.hero {
  position: relative;
  overflow: hidden;
}

#network-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}

